*.o
*.root
*.log
*.so
*_cc.d
*.pcm
*~
Info/
Build/
bin/
lib/
*.pdf
*.ps
*.png
*.swp
*.sh
build_simulation.sh
build_simulation_compton1.sh
hedia_laptop_build.sh
Lenovo_T470_Sophia_build.sh
.nfs*
cherenkovwavelengthspectrum
dings.txt
History
mono1_5_100000.txt
README
